@using ExceedERP.Web.Controllers

@{
    ViewBag.Title = "FinanceDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/dashboard.css" rel="stylesheet" />
@*(HttpContext.Current.User.IsInRole("Finance_Report"))*@

@if (true)
{
    <div class="dashboard">
        <div class="row">


            <div class="col-sm-12  chartcontainer">

                <div class="demo-section k-content wide">
                    <canvas id="ActivityRatio" width="400" height="400"></canvas>
                </div>


            </div>
                </div>
        <div class="row">


            <div class="col-sm-12  chartcontainer">

                <div class="demo-section k-content wide">
                    <canvas id="ProfitabilityRatio" width="400" height="400"></canvas>
                </div>


            </div>
        </div>
        <div class="row">


            <div class="col-sm-12  chartcontainer">

                <div class="demo-section k-content wide">
                    <canvas id="LiquidityRatio" width="400" height="400"></canvas>
                </div>


            </div>
        </div>
        <div class="row">


            <div class="col-sm-12  chartcontainer">

                <div class="demo-section k-content wide">
                    <canvas id="CapitalStructureRatio" width="400" height="400"></canvas>
                </div>


            </div>
        </div>
     
       </div>
}
<script src="~/Scripts/Chart.bundle.js"></script>
<script src="~/Scripts/Chart.PieceLabel.js"></script>
<script>

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)',
        black: 'rgb(229, 255, 204)',
        azure: 'rgb(0, 255, 255)'
    };

    ActivityRatio();
    LiquidityRatio();
    CapitalStructureRatio();
    ProfitabilityRatio();

    function ActivityRatio() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetActivityRatio", "Dashboard", new { area = "" })',
            success: function (result) {
              var Step = (GetMax(Math, result.Average_Collection_Period) + GetMax(Math, result.Asset_TurnOver) + GetMax(Math, result.Fixed_Asset_Turnover) + GetMax(Math, result.Receivables_TurnOver) + GetMax(Math, result.Inventory_TurnOver)) / 5;
               
               
                 //render
                var ctx = document.getElementById("ActivityRatio").getContext('2d');
                ctx.height = 600;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: result.Labels,
                        datasets: [{
                            type: 'line',
                            label: 'Average Collection Period',
                            borderColor: window.chartColors.yellow,
                            borderWidth: 1,
                            fill: false,
                            data: result.Average_Collection_Period
                        },
                          {
                              type: 'line',
                              label: 'Asset TurnOver',
                              backgroundColor: window.chartColors.blue,
                              data: result.Asset_TurnOver,
                              borderColor: 'white',
                              borderWidth: 1
                          }, {
                              type: 'line',
                              label: 'Fixed Asset Turnover',
                              backgroundColor: window.chartColors.green,
                              data: result.Fixed_Asset_Turnover
                          }

                          ,
                          {
                              type: 'line',
                              label: 'Receivables TurnOver',
                              backgroundColor: window.chartColors.azure,
                              data: result.Receivables_TurnOver,
                              borderColor: 'white',
                              borderWidth: 1
                          }, {
                              type: 'line',
                              label: 'Inventory Turnover',
                              backgroundColor: window.chartColors.red,
                              data: result.Inventory_TurnOver
                          }
                        ]

                    },


                    options: {

                        title: {
                            display: true,
                            text: 'Activity Ratio'
                        },
                        gridLines: {
                            display: false
                        },
                        pieceLabel: {
                            render: 'value',
                            fontColor: ['green', 'white', 'black'],
                            precision: 2
                        },
                        legend: {
                            position: 'bottom',
                            fontSize: 8,
                            fullWidth: true,
                            padding: 6,
                            labels: {
                                boxWidth: 15
                            }
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Months'
                                },
                                barPercentage: 0.1
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,

                                    labelString: 'Amount (M ETB)'
                                },
                                ticks: {

                                    // forces step size to be 5 units
                                    stepSize: Step
                                }
                            }]
                        },
                        maintainAspectRatio: false

                    }
                });

            }, //end succ
            error: function (result) {
                alert(result);
            }
        });
    }


    function LiquidityRatio() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetLiquidityRatio", "Dashboard", new { area = "" })',
            success: function (result) {

              var Step = (GetMax(Math, result.Current_Ratio)+ GetMax(Math, result.Cash_Ratio) + GetMax(Math, result.Quick_Ratio) + GetMax(Math, result.DataProfit) + GetMax(Math, result.Net_Working_Capital_Ratio)) / 5;
               
               

                var ctx = document.getElementById("LiquidityRatio").getContext('2d');
                ctx.height = 600;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: result.Labels,
                        datasets: [{
                            type: 'line',
                            label: 'Profit',
                            borderColor: window.chartColors.yellow,
                            borderWidth: 1,
                            fill: false,
                            data: result.DataProfit
                        },
                          {
                              type: 'line',
                              label: 'Current Ratio',
                              backgroundColor: window.chartColors.blue,
                              data: result.Current_Ratio,
                              borderColor: 'white',
                           borderWidth: 1
                          }, {
                              type: 'line',
                              label: 'Quick Ratio',
                              backgroundColor: window.chartColors.green,
                              data: result.Quick_Ratio
                          }


                          ,
                          {
                              type: 'line',
                              label: 'Cash Ratio',
                              backgroundColor: window.chartColors.azure,
                              data: result.Cash_Ratio,
                              borderColor: 'white',
                           borderWidth: 1
                          }, {
                              type: 'line',
                              label: 'Net Working Capital Ratio',
                              backgroundColor: window.chartColors.yellow,
                              data: result.Net_Working_Capital_Ratio
                          }

                        ]

                    },


                    options: {

                        title: {
                            display: true,
                            text: 'Liquidity Ratio'
                        },
                        gridLines: {
                            display: false
                        },
                        pieceLabel: {
                            render: 'value',
                            fontColor: ['green', 'white', 'black'],
                            precision: 2
                        },
                        legend: {
                            position: 'bottom',
                            fontSize: 8,
                            fullWidth: true,
                            padding: 6,
                            labels: {
                                boxWidth: 15
                            }
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Months'
                                },
                                barPercentage: 0.1
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,

                                    labelString: 'Amount (M ETB)'
                                },
                                ticks: {

                                    // forces step size to be 5 units
                                    stepSize: Step
                                }
                            }]
                        },
                        maintainAspectRatio: false

                    }
                });

            }, //end succ
            error: function (result) {
                alert(result);
            }
        });
    }


    function CapitalStructureRatio() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCapitalStructureRatio", "Dashboard", new { area = "" })',
            success: function (result) {
              
              var Step = (GetMax(Math, result.Debt_To_Assets_Ratio)+ GetMax(Math, result.Debt_To_Equity_Ratio) ) / 2;
               
               
                //render
                var ctx = document.getElementById("CapitalStructureRatio").getContext('2d');
                ctx.height = 600;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: result.Labels,
                        datasets: [{
                            type: 'line',
                            label: 'Debt To Assets Ratio',
                            borderColor: window.chartColors.red,
                            borderWidth: 1,
                            fill: false,
                            data: result.Debt_To_Assets_Ratio
                        },
                          {
                              type: 'line',
                              label: 'Debt To Equity Ratio',
                              backgroundColor: window.chartColors.blue,
                              data: result.Debt_To_Equity_Ratio,
                              borderColor: 'white',
                           borderWidth: 1
                          } ]

                    },


                    options: {

                        title: {
                            display: true,
                            text: 'Capital Structure Ratio'
                        },
                        gridLines: {
                            display: false
                        },
                        pieceLabel: {
                            render: 'value',
                            fontColor: ['green', 'white', 'black'],
                            precision: 2
                        },
                        legend: {
                            position: 'bottom',
                            fontSize: 8,
                            fullWidth: true,
                            padding: 6,
                            labels: {
                                boxWidth: 15
                            }
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Months'
                                },
                                barPercentage: 0.2
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,

                                    labelString: 'Amount (M ETB)'
                                },
                                ticks: {

                                    // forces step size to be 5 units
                                    stepSize: Step
                                }
                            }]
                        },
                        maintainAspectRatio: false

                    }
                });

            }, //end succ
            error: function (result) {
                alert(result);
            }
        });
    }



    function ProfitabilityRatio() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetProfitabilityRatio", "Dashboard", new { area = "" })',
            success: function (result) {

              var Step = (GetMax(Math, result.Gross_Profit_Margin) + GetMax(Math, result.Net_Profit_Margin) + GetMax(Math, result.Return_On_Assets) + GetMax(Math, result.Cost_Of_Goods_Sold) + GetMax(Math, result.Return_On_Equity)) / 5;

               
               
                //render
                var ctx = document.getElementById("ProfitabilityRatio").getContext('2d');
                ctx.height = 600;
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: result.Labels,
                        datasets: [{
                            type: 'line',
                            label: 'Gross Profit Margin',
                            borderColor: window.chartColors.red,
                            borderWidth: 1,
                            fill: false,
                            data: result.Gross_Profit_Margin
                        },
                          {
                              type: 'line',
                              label: 'Operating Profit Margin',
                              backgroundColor: window.chartColors.blue,
                              data: result.Operating_Profit_Margin,
                              borderColor: 'white',
                           borderWidth: 1
                          }, {
                              type: 'line',
                              label: 'Net Profit Margin',
                              backgroundColor: window.chartColors.red,
                              data: result.Net_Profit_Margin
                          }

                          , {
                              type: 'line',
                              label: 'Return On Assets',
                              backgroundColor: window.chartColors.yellow,
                              data: result.Return_On_Assets
                          },

                        {
                        type: 'line',
                        label: 'Return On Equity',
                        backgroundColor: window.chartColors.purple,
                        data: result.Return_On_Equity
                    }

                          , {
                    type: 'line',
                    label: 'Cost Of Goods Sold',
                    backgroundColor: window.chartColors.orange,
                    data: result.Cost_Of_Goods_Sold
                }
                        ]

                    },


                    options: {

                        title: {
                            display: true,
                            text: 'Profitability Ratio'
                        },
                        gridLines: {
                            display: false
                        },
                        pieceLabel: {
                            render: 'value',
                            fontColor: ['green', 'white', 'black'],
                            precision: 2
                        },
                        legend: {
                            position: 'bottom',
                            fontSize: 8,
                            fullWidth: true,
                            padding: 6,
                            labels: {
                                boxWidth: 15
                            }
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Months'
                                },
                                barPercentage: 0.1
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,

                                    labelString: 'Amount (M ETB)'
                                },
                                ticks: {

                                    // forces step size to be 5 units
                                    stepSize: Step
                                }
                            }]
                        },
                        maintainAspectRatio: false

                    }
                });

            }, //end succ
            error: function (result) {
                alert(result);
            }
        });
    }

    function GetMax(array)
    {
        var max = 0;
       
            if (array.length > 0) {
                for (var i = 0; i < array.length; i++) {
                    if (array[i] > max) {
                        max = array[i];
                    }

                }
         
        }
        return max/5;
    }
    $(document).on('click', '.panel-heading span.clickable', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }
    })
</script>
