

<label>Printing Job Type</label>
@(Html.Kendo().Grid<ExceedERP.Core.Domain.Printing.PrintingJobType>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.JobTypeName);
          columns.Bound(c => c.NoOfPagesFactor);
          columns.Bound(c => c.DefaultNoOfPages);
          columns.Bound(c => c.IsSpinRequired).ClientTemplate("<input type='checkbox' disabled = 'true' #: IsSpinRequired? checked='checked': checked='' #/>");
          columns.Bound(c => c.IsBindingRequired).ClientTemplate("<input type='checkbox' disabled = 'true' #: IsBindingRequired? checked='checked': checked='' #/>");
          columns.Bound(c => c.IsCoverRequired).ClientTemplate("<input type='checkbox' disabled = 'true' #: IsCoverRequired? checked='checked': checked='' #/>");

          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar => {
          toolbar.Create();
      })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.PrintingJobTypeId))
          .Read(read => read.Action("PrintingJobTypes_Read", "PrintingJobType"))
          .Create(create => create.Action("PrintingJobTypes_Create", "PrintingJobType"))
          .Update(update => update.Action("PrintingJobTypes_Update", "PrintingJobType"))
          .Destroy(destroy => destroy.Action("PrintingJobTypes_Destroy", "PrintingJobType"))
      )
)
