@model ExceedERP.Core.Domain.Manufacturing.FurnitureEstimation.FurnitureProformaInvoiceItem

<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Estimation</label>
            <div>
                @(Html.Kendo().DropDownListFor(model => model.FurnitureEstimationId)
                                                            .ValuePrimitive(true)
                                                            .OptionLabel("Select Estimation No...")
                                                            .DataTextField("Text")
                                                            .DataValueField("Value")
                                                            .Filter("contains")
                                                            .DataSource(dataSource =>
                                                            {
                                                                dataSource.Read(read => read.Action("GetFurnitureEstimation", "ManufacturingDataProvider", new { area = "Manufacturing" }).Data("filterEstimation"))
                                                                    .ServerFiltering(true);
                                                            }).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <label>Quantity</label>
            <div>
                @(Html.Kendo().NumericTextBoxFor(model => model.Quantity).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Transportation cost</label>
            <div>
                @(Html.Kendo().NumericTextBoxFor(model => model.TransportCost).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-group">
            <label>Remark</label>
            <div>
                @(Html.Kendo().TextBoxFor(model => model.Remark).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>

</div>

