@model CourtCaseMgt.Models.DateYearType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DateYearType</legend>

    <div class="display-label">DateYear</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateYear)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DateYearTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
