

<label>Paper Size</label>
@(Html.Kendo().Grid<ExceedERP.Core.Domain.Printing.PrintingPaperSize>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.PaperSizeName);
          columns.Bound(c => c.NoOfPagesPerSheet);
          columns.Bound(c => c.NoOfPagesPerPlate);
          columns.Bound(c => c.Width);
          columns.Bound(c => c.Length);
          columns.Bound(c => c.NoOfPagesToA1Ratio);
          columns.Bound(c => c.Remark);
          //columns.Bound(c => c.PrintingMachineTypeId);
          columns.Command(command => { command.Edit(); command.Destroy(); }).Width(180);
      })
      .ToolBar(toolbar => {
          toolbar.Create();
      })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Filterable()
      .Scrollable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(p => p.PrintingPaperSizeId))
          .Read(read => read.Action("PrintingPaperSizes_Read", "PrintingPaperSize"))
          .Create(create => create.Action("PrintingPaperSizes_Create", "PrintingPaperSize"))
          .Update(update => update.Action("PrintingPaperSizes_Update", "PrintingPaperSize"))
          .Destroy(destroy => destroy.Action("PrintingPaperSizes_Destroy", "PrintingPaperSize"))
      )
)
