@model ExceedERP.Core.Domain.Printing.PrintingProformaInvoiceItem

<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>Estimation No</label>
            <div>
                @(Html.Kendo().DropDownListFor(model => model.PrintingCostEstimationId)
                    .ValuePrimitive(true)
                    .OptionLabel("Select Estimation No...")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Filter("contains")
                    .DataSource(dataSource =>
                    {
                        dataSource.Read(read => read.Action("GetPrintingEstimation", "ManufacturingDataProvider", new { area = "Manufacturing" }).Data("filterEstimation"))
                            .ServerFiltering(true);
                    }).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Transportation cost</label>
            <div>
                @(Html.Kendo().NumericTextBoxFor(model => model.TransportCost).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Tax Rate</label>
            <div>

                @(Html.Kendo().DropDownListFor(m => m.GLTaxRateID)
                                            .ValuePrimitive(true)
                                            .AutoBind(true)
                                            .Enable(true)
                                            .OptionLabel("Select Tax rate...")
                                            .DataTextField("Text")
                                            .DataValueField("Value")
                                            .Filter("contains")
                                            .DataSource(dataSource =>
                                            {
                                                dataSource.Read(read => read.Action("GetTaxRate", "ManufacturingDataProvider", new { area = "Manufacturing" }))
                                                    .ServerFiltering(true);
                                            }).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label>Remark</label>
            <div>
                @(Html.Kendo().TextBoxFor(model => model.Remark).HtmlAttributes(new { style = "width:100%" }))
            </div>
        </div>
    </div>
</div>
