
@model ExceedERP.Core.Domain.Printing.PrintingJobOrderProduction

<div class="row">
   
    <div class="col-sm-2">
        <div class="form-group">
            <label>Job Order Number</label>
            <div>
                @(Html.Kendo().TextBoxFor(model => model.JobOrderNo).HtmlAttributes(new { style = "width:200%" }))
            </div>
        </div>
    </div>
    <div class="col-sm-2">

    </div>
</div>



