@model object

<div class="popupwrapper">
    @Html.Kendo().TextBoxFor(model => model).HtmlAttributes(new { disabled = "disabled" }) <img src="~/Content/Images/search.png" onclick="SelectAccCode(this)" />
</div>


